				<!-- login form -->

				<form role="form" id="loginForm" >
					<div class="form-group">
						<input type="text" name="user" placeholder="Email" class="form-control">
					</div>
					<div class="form-group">
						<input type="password" name="pass" placeholder="Password" class="form-control">
					</div>
					<button type="submit" class="btn btn-success">Sign in</button>
				</form>

				<!-- login form -->
